[Unit]
Description=Change the wallpaper on X display :0
Wants=change-wallpaper.timer

[Service]
Type=oneshot
# Adjust path to script as needed
ExecStart=/bin/bash /home/lochie/Scripts/random_backgrounds.sh

[Install]
WantedBy=graphical.target
